#gh {
    height : 100px;
    width : 180px;
}

#li {
    height : 100px;
    width : 100px;
}

#profilepic {
    height : 100%;
    width : 300px;
    border-radius: 50%;
}


#title {
    display: inline-flex;
    width : 100%;
    margin-top : 6%;
    background: #2079c7;
    font-size: 24pt;

}
#spencer {
    margin-left : auto;
    width : auto;
    margin-top: 100px;
    margin-right: 5%;
}
#bull {
    margin-right : auto;
    width : auto;
    margin-top: 100px;
    margin-left: 5%;


}
.contact {
    display: inline-block;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
